{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block progress %}
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
{% endblock %}

{% block navbar %}
  <div class="nav-container">
    <nav id="navbar-secondary" class="navbar">
      <div class="container">
        <ul class="nav">
          <li class="facebook">
            <a href="#">
              <i class="fa fa-fw fa-facebook"></i>
            </a>
          </li>
          <li class="twitter">
            <a href="#">
              <i class="fa fa-fw fa-twitter"></i>
            </a>
          </li>
          <li class="google-plus">
            <a href="#">
              <i class="fa fa-fw fa-google-plus"></i>
            </a>
          </li>
          <li class="linkedin">
            <a href="#">
              <i class="fa fa-fw fa-linkedin"></i>
            </a>
          </li>
        </ul>
        <ul class="nav">
          <li>
            <a href="#">
              <i class="fa fa-phone"></i>(817) 416-7079</a>
          </li>
          <li>
            <a href="mailto:behavioralbeginnings@gmail.com">
              <i class="fa fa-envelope-o"></i>behavioralbeginnings@gmail.com</a>
          </li>
        </ul>
      </div>
    </nav>
    <nav id="navbar-primary" class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarContent" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/images/logo_icon.png" alt="Behavioral Beginnings"/></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="nav navbar-nav">
            {# <li>
              <a href="#about">About</a>
            </li> #}
            <li>
              <a href="#services">Services</a>
            </li>
            <li>
              <a href="#testimonials">Testimonials</a>
            </li>
            <li>
              <a href="#staff">Staff</a>
            </li>
            <li>
              <a href="#contact">Contact Us</a>
            </li>
            <li>
              <a href="#resources">Resources</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
{% endblock %}

{% block banner %}
  <div class="banner">
    <h1 class="title"><img src="images/logo_icon.png"/>
      <p>Behavioral</p>
      <p>Beginnings</p>
    </h1>
    <img src="images/banner.jpg"/>
  </div>
{% endblock %}

{% block about %}
  <h2>About</h2>
  <p>
    Sarah Flak is a Board Certified Behavioral Analyst (BCBA) and is the founder and owner of Behavioral Beginnings, LLC, which is located in Irving, Texas. Sarah received her Bachelor's Degree in Psychology with a Minor in Spanish from the
    <a href="http://www.uta.edu/uta/">University of Texas at Arlington</a>
    in Arlington, Texas. Sarah then received her Master's Degree in Education from
    <a href="http://www.smwc.edu/">Saint Mary-of-the-Woods College</a>
    in Saint Mary-of-the-Woods, Indiana. Sarah started her career with the DFW Center for Autism, where she worked for five years. After receiving her Master's Degree, Sarah left the DFW Center for Autism and started Behavioral Beginnings.
  </p>
{% endblock %}

{% block services %}
  <h2>Services</h2>
  <div>
    <h5>Offering services from Sarah Flak, M.Ed., BCBA including:</h5>
    <ul>
      <li>Consultation and program development</li>
      <li>1:1 sessions</li>
      <li>Parent Traning</li>
      <li>Assessments including ABLLS and VB-MAPP</li>
      <li>BCaBA supervision</li>
    </ul>
    <br>
    <h5>Sarah specializes in:</h5>
    <ul>
      <li>"Sibling sessions" - As a person who has a sibling with a disability, Sarah understands how frustrating it can be to get your brother or sister to play with you! Sarah conducts ABA sessions incorporating all of your children teaching play,
        imitation and conversation. She will also teach typical siblings how to "adapt" play so all children can be involved and successful.</li>
      <li>Early childhood - Sarah had four years of training at the only ABA based, inclusive preschool in Texas. Her training centered on teaching appropriate language usage, engaging with the environment and socializing with others. Sarah is very skilled
        at working with students 18 months to five years of age and teaching them the skills they will need to be successful in Kindergarten.</li>
      <li>Incidental teaching - Sarah has the unique ability to successfully incorporate educational objectives into daily activities and natural settings. She utilizes student's interests and follows their lead to keep motivation high. Using this
        naturalistic approach to ABA improves generalization and creates more meaningful and varied language.</li>
      <li>Life Skills - Sarah has been very successful at teaching toileting, bike riding, tooth brushing, dressing and other daily skills with students.</li>
      <li>Video feedback - Sarah is very skilled at using video to give feedback to both parents and other professionals to ensure consistency of treatment across settings.</li>
    </ul>
  </div>
{% endblock %}

{% block testimonials %}
  <h2>Testimonials</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="rounded-circle">
            <span>&quot;</span>
          </div>
          <div class="quote">
            <p>Sarah worked with our son, Dylan, from the 1st day of our home ABA program and we look back now and realize how lucky we were to have found her.</p>
            <p>Dylan's face lit up every time Sarah came to the door because her therapy was so fun!</p>
            <p>I'm not sure Dylan even realized how much she was teaching him every day and it was a lot. He is in a typical 3rd grade class now and a happy boy. A lot of his success was due to Sarah who will always be a special part of our family.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="rounded-circle">
            <span>&quot;</span>
          </div>
          <div class="quote">
            <p>Some people have a tremendous love for children.</p>
            <p>Some people have a remarkable ability to teach.</p>
            <p>Some people have unyielding patience and immeasurable determination to help the children who need it most.</p>
            <p>Sarah Flak has all of this and more.</p>
            <p>She has a natural talent for working with children with autism and similar developmental disabilities. My son, a six-year-old beautiful child with autism, adores her. And so does his family.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="rounded-circle">
            <span>&quot;</span>
          </div>
          <div class="quote">
            <p>Sarah has a unique ability to quickly incorporate environment and people into our son, Danny's, therapy.</p>
            <p>Allison is our six-year-old daughter. She was very curious about the therapy, asked lots of questions, and sought attention.</p>
            <p>Sarah turned a potential distraction into a key component of the therapy. Sarah would use Allison to model behaviors for Daniel, which accelerated his growth tremendously.</p>
            <p>Allison enjoyed helping Sarah and Danny and still uses the techniques she learned from Sarah when interacting with her brother.</p>
          </div>
        </div>
      </div>
  </div>
{% endblock %}

{% block staff %}
  <h2>Staff</h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="images/sarah.jpg" class="panel-img" alt="Sarah Flak" />
          <p class="panel-subtitle">Owner and Founder</p>
          <p class="panel-title">Sarah Flak, M.Ed., BCBA</p>
          <p class="panel-description">
            Sarah Flak is a Board Certified Behavioral Analyst (BCBA) and is the founder and owner of Behavioral Beginnings, LLC, which is located in Irving, Texas. Sarah received her Bachelor's Degree in Psychology with a Minor in Spanish from the
            <a href="http://www.uta.edu/uta/">University of Texas at Arlington</a>
            in Arlington, Texas. Sarah then received her Master's Degree in Education from
            <a href="http://www.smwc.edu/">Saint Mary-of-the-Woods College</a>
            in Saint Mary-of-the-Woods, Indiana. Sarah started her career with the DFW Center for Autism, where she worked for five years. After receiving her Master's Degree, Sarah left the DFW Center for Autism and started Behavioral Beginnings.
          </p>
          <p class="panel-link">
            <a href="tel:+18174167079"><i class="fa fa-fw fa-phone"></i>(817) 416-7079</a>
            <span><i class="fa fa-fw fa-phone"></i>(817) 416-7079</a></span>
          </p>
          <p class="panel-link">
            <a href="mailto:sarahflak@yahoo.com"><i class="fa fa-fw fa-envelope"></i>behavioralbeginnings@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contact %}
  <h2>Contact Us</h2>
  <div class="row contact-details">
    <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
      <a href="tel:+18174167079"><i class="fa fa-fw fa-phone"></i>(817) 416-7079</a>
      <span><i class="fa fa-fw fa-phone"></i>(817) 416-7079</a></span>
    </div>
    <div class="col-sm-5 col-md-4">
      <a href="mailto:behavioralbeginnings@gmail.com"><i class="fa fa-fw fa-envelope"></i>behavioralbeginnings@gmail.com</a>
    </div>
  </div>
  <form class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label" for="name">Name</label>
              <input class="form-control" type="text" name="name" id="name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label" for="email">Email Address</label>
              <input class="form-control" type="text" name="email" id="email">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label" for="phone">Phone Number</label>
              <input class="form-control" type="text" name="phone" id="phone">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group label-floating">
              <label class="control-label" for="comments">Comments</label>
              <textarea class="form-control" name="comments" id="comments"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block resources %}
  <h2>Resources</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="sibshops">
        <a href="https://www.siblingsupport.org/sibshops" target="_blank"><img src="images/sibshops.png" alt="Sibshops" /></a>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          &copy; Copyright 2017. Behavioral Beginnings
        </div>
      </div>
    </div>
  </div>
{% endblock %}
