.banner
  position: relative

  .title
    color: $brand-primary
    font-family: 'Kreon', cursive
    font-size: 6rem
    position: absolute
    top: 15%
    left: calc(50% + 70px)
    transform: translate3d(-50%, -50%, 0)

    p
      margin: 0
      padding: 0
      line-height: 1

      + p
        color: $brand-secondary

    img
      position: absolute
      left: -140px
      height: 100%
