.contact-container
  position: relative
  padding-bottom: 3rem

  .background
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url('../images/Southlake.png')
    background-position: center
    background-size: cover
    opacity: .4
    z-index: -1
    filter: grayscale(100%)

  .contact-details
    > [class^='col-']
      font-weight: 500
      text-align: center

      .fa
        margin-right: 1rem

  .row
    .row
      margin-right: 0
      margin-left: 0

  form
    margin-top: 3rem

  .form-group
    label
      color: $gray

    &.is-focused
      label
        color: $brand-secondary

      .form-control
        background-image: linear-gradient($brand-secondary, $brand-secondary), linear-gradient($light-gray, $light-gray)
