.footer
  position: relative
  margin-top: 6rem
  background-image: linear-gradient(to bottom, $gray, darken($gray, 10%))
  color: $gray-lighter

  &::before
    display: block
    position: absolute
    top: 0
    right: 0
    left: 0
    height: 2px
    background-image: url('../images/top-wrap-bg.png')
    background-repeat: repeat
    background-position: center
    background-size: 100%
    content: ''
    z-index: 1032

  .container
    padding-top: 2rem
    padding-bottom: 2rem
