.footer
  margin-top: 6rem
  background-image: linear-gradient(to bottom, $gray, darken($gray, 10%))
  color: $gray-lighter
  position: relative

  &:before
    content: ""
    position: absolute
    display: block
    top: 0
    left: 0
    right: 0
    height: 2px
    background-image: url(../images/top-wrap-bg.png)
    background-position: center
    background-repeat: repeat
    background-size: 100%
    z-index: 1032

  .container
    padding-top: 2rem
    padding-bottom: 2rem
