.navbar-brand img
  height: 100%

.navbar .navbar-nav > li,
.navbar .navbar-nav > li:before,
.navbar .navbar-nav > li > a
  transition: all 0.3s ease-in-out

  @media (max-width: $screen-xs-max)
    transition: none

.navbar .navbar-nav > li
  position: relative

  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 0
    background-color: $brand-primary

  &:hover, &.active
    a, a:hover
      color: $white

    &:before
      height: 100%

  > a
    padding: 2rem

.nav-container
  &:before
    content: ""
    position: fixed
    display: block
    top: 0
    left: 0
    right: 0
    height: 2px
    background-image: url(../images/top-wrap-bg.png)
    background-position: center
    background-repeat: repeat
    background-size: 100%
    z-index: 1032

  &.sticky
    #navbar-primary
      position: fixed
      top: 0
      left: 0
      width: 100%
      z-index: 1031
      box-shadow: 0 1px 6px 0 rgba($black, 0.12)

    #navbar-secondary
      display: none

#navbar-primary
  margin-bottom: 0
  background-color: $white
  color: $gray-dark

#navbar-secondary
  margin-bottom: 0
  min-height: initial
  background-color: $gray-dark

  @media (max-width: $screen-xs-max)
    display: none

  .nav
    float: left
    margin: 0
    border-left: 1px solid lighten($gray-dark, 15%)
    border-right: 1px solid lighten($gray-dark, 15%)

    li
      float: left

      &.facebook:hover
        color: $facebook !important
      &.twitter:hover
        color: $twitter !important
      &.google-plus:hover
        color: $googleplus !important
      &.linkedin:hover
        color: $linkedin !important

      a
        color: inherit
        padding: 1.25rem
        cursor: pointer

        &:hover, &:focus
          background-color: inherit

    + .nav
      float: right

      > li
        border-right: 1px solid lighten($gray-dark, 15%)

        &:last-of-type
          border-right: 0 none

        a:hover
          color: $brand-secondary !important

        i.fa
          margin-right: .5rem
