#staff

  .panel

    p
      margin: 0

    a
      font-weight: 500
      color: $gray

    .panel-img
      display: block
      margin: 0 auto 1.5rem
      border-radius: 50%
      height: 150px

    .panel-subtitle
      display: block
      color: $gray
      font-weight: 600
      margin-bottom: 1rem

    .panel-title
      display: block
      margin-bottom: 2rem
      color: $gray-dark
      font-weight: 600
      font-family: 'Roboto Slab', serif

    .panel-description
      font-weight: 300
      margin: 0 0 2rem
      color: $gray-light

      a
        color: $gray-light

    .panel-link
      margin-bottom: 1rem
      font-weight: 500
      color: $gray

      &:last-child
        margin-bottom: 0

      i.fa
        margin-right: 1rem
