body h1, body h2, body h3, body h4, body h5, body h6
  color: $gray
  font-family: 'Roboto Slab', serif
  font-style: normal
  font-weight: 400
  line-height: 1.2
  margin: 0

section > h2
  font-weight: 600
